prefect==2.16.2
psycopg2==2.9.9
pandas==2.2.1
requests==2.31.0
protobuf==4.21.11
pyarrow==10.0.1
prefect-dbt-flow
google-cloud-storage==2.15.0
dbt-core==1.7.9
dbt-snowflake==1.7.2
kafka-python==2.0.2
prefect-dbt-flow==0.5.6
psycopg2==2.9.9
snowflake-connector-python==3.7.1